/out/production/NewtonHotels/MarcusMicke/Controller.class
/.idea/description.html
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/libraries/javafx_swt.xml
/out/production/NewtonHotels/MarcusMicke/Main.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/NewtonHotels/MarcusMicke/newtonhotels.fxml
/NewtonHotels.iml
/out/production/NewtonHotels/MarcusMicke/newtonhotels.png
/.idea/inspectionProfiles/Project_Default.xml
/out/production/NewtonHotels/MarcusMicke/sample.fxml
/src/MarcusMicke/sample.fxml
/.idea/vcs.xml
/src/MarcusMicke/db.properties
/out/production/NewtonHotels/MarcusMicke/db.properties
/MarcusMicke.zip
/src/MarcusMicke/logo_stores.png
